*.zip
*.jar
*.mod
*.pyc
*~
mx.lcp/.project
mx.lcp/.pydevproject
mx.lcp/*.pyc
mx.lcp/env
mx.lcp/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
lcp/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
